@import "style.css";

section.content {
    background: url('../assets/images/start-screen-gradient-background.png');
    background-repeat: no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-position-y: 25%;
}

.content-container {
    display: flex;
    padding: 0 40px;
    align-items: center;
}

.content-info {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-bottom: 7%;
}

.content-info h2 {
    font-family: var(--font1);
    color: var(--color-light-xl);
    font-weight: var(--font-weight1);
    font-size: var(--font-size5);
    line-height: 130%;
    width: 310px;
}

.content-info p {
    font-family: var(--font2);
    color: var(--color-dark-s);
    font-weight: var(--font-weight1);
    font-size: var(--font-size1);
    line-height: 160%;
    width: 460px;
}

.content-info .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 207px;
    height: 52px;
    background: var(--color-primary);
    border-radius: 100px;
    transition-duration: 1s;
}

.content-info div a {
    padding: 15px 45px;
    font-family: var(--font1);
    color: var(--color-dark-3xl);
    font-weight: var(--font-weight1);
    font-size: var(--font-size2);
    line-height: 130%;
    letter-spacing: 0.059em;
    cursor: pointer;
}

.content-info div.btn:hover {
    background-color: var(--color-light-xl);
    transition: all;
    transition-duration: 1s;
}

.content-picture {
    width: 100%;
    height: 728px;
    background: url('../assets/images/start-screen-puppy.png');
    background-repeat: no-repeat;
    background-position-x: right;
}

section.about {
    background-color: var(--color-light-xl);
}

.about-container {
    display: flex;
    align-items: center;
    gap: 120px;
    margin-top: -2px;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 26px;
}

.about-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 7%;
    gap: 25px;
}

.about-info p {
    font-family: var(--font2);
    color: var(--color-dark-s);
    font-weight: var(--font-weight1);
    font-size: var(--font-size1);
    line-height: 160%;
    width: 430px;
}

.about-picture {
    width: 300px;
    height: 408px;
    background: url('../assets/images/about-pets.png');
    background-repeat: no-repeat;
    margin-top: -91px;
}

section.pets {
    background-color: var(--color-light-l);
    padding-top: 80px;
    padding-bottom: 98px;
}

section.pets h3 {
    width: unset;
    text-align: center;
}

.pets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-content: center;
}

.pets-cards-row {
    display: flex;
    gap: 53px;
    align-items: center
}

.pets-cards {
    display: flex;
    gap: 90px;
}

.pets-card {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    background-color: var(--color-light-s);
    padding-bottom: 30px;
    border-radius: 9px;
    transition-duration: 1s;
}

.pets-card:hover {
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    transition-duration: 1s;
    cursor: pointer;

}

.pets-card p {
    font-family: var(--font1);
    color: var(--color-dark-l);
    font-weight: var(--font-weight1);
    font-size: var(--font-size3);
    line-height: 23px;
    letter-spacing: 0.059em;
}

.pets-container .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition-duration: 1s;
}

.pets-card .pet-btn {
    width: 187px;
    height: 52px;
    background: var(--color-light-s);
    border-radius: 100px;
    transition-duration: 1s;
    border: 1px solid var(--color-primary);
}

.pets-container div a {
    padding: 15px 45px;
    font-family: var(--font1);
    color: var(--color-dark-3xl);
    font-weight: var(--font-weight1);
    font-size: var(--font-size2);
    line-height: 130%;
    letter-spacing: 0.056em;
    cursor: pointer;
}

.pets-card div.btn:hover {
    background-color: var(--color-primary);
    transition: all;
    transition-duration: 1s;
}

.pets-card .pets-picture {
    width: 270px;
    height: 270px;
    background-repeat: no-repeat;
}

.pets-card .pets-picture-1 {
    background: url('../assets/images/pets-katrine.png');
}

.pets-card .pets-picture-2 {
    background: url('../assets/images/pets-jennifer.png');
}

.pets-card .pets-picture-3 {
    background: url('../assets/images/pets-woody.png');
}

.pets-container .get-pets-btn {
    width: 261px;
    height: 52px;
    background: var(--color-primary);
    border-radius: 100px;
    transition-duration: 1s;
    border: 1px solid var(--color-primary);
}

.get-pets-btn:hover {
    background-color: var(--color-light-s);
    transition: all;
    transition-duration: 1s;
}

.pets-cards-row .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 13px;
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    box-sizing: border-box;
    border-radius: 100px;
    transition-duration: 1s;
}

.pets-cards-row .circle .arrow {
    background: url('../assets/images/arrow.png');
    width: 15px;
    height: 6px;
    background-repeat: no-repeat;
    transition-duration: 1s;

}

.pets-cards-row .circle:hover {
    border-color: var(--color-dark-3xl);
    cursor: pointer;
}


.pets-cards-row .circle .arrow-right {
    transform: rotate(180deg);
}


section.help {
    background-color: var(--color-light-xl);
    padding-top: 80px;
    padding-bottom: 98px;
}

section.help h3 {
    width: unset;
    text-align: center;
    margin-bottom: 60px;
}

.help-container {
    display: flex;
    gap: 120px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 87px;
}

.help-card {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    background-color: var(--color-light-xl);
}

.help-card p {
    font-family: var(--font1);
    color: var(--color-dark-l);
    font-weight: var(--font-weight1);
    font-size: var(--font-size3);
    line-height: 115%;
    letter-spacing: 0.059em;
}

.help-card-picture {
    width: 60px;
    height: 60px;
    background-color: var(--color-primary);
    -webkit-mask-size: cover;
    transition: 1s;
    cursor: pointer;
}

.help-card-picture:hover {
    background-color: var(--color-dark-l);
}

.help-card-picture-1 {
    -webkit-mask-image: url('../assets/icons/icon-pet-food.svg');
}

.help-card-picture-2 {
    -webkit-mask-image: url('../assets/icons/icon-transportation.svg');
}

.help-card-picture-3 {
    -webkit-mask-image: url('../assets/icons/icon-toys.svg');
}

.help-card-picture-4 {
    -webkit-mask-image: url('../assets/icons/icon-bowls-and-cups.svg');
}

.help-card-picture-5 {
    -webkit-mask-image: url('../assets/icons/icon-shampoos.svg');
}

.help-card-picture-6 {
    -webkit-mask-image: url('../assets/icons/icon-vitamins.svg');
}

.help-card-picture-7 {
    -webkit-mask-image: url('../assets/icons/icon-medicines.svg');
}

.help-card-picture-8 {
    -webkit-mask-image: url('../assets/icons/icon-collars-leashes.svg');
}

.help-card-picture-9 {
    -webkit-mask-image: url('../assets/icons/icon-sleeping-area.svg');
}

.help-card:nth-child(6),
.help-card:nth-child(7),
.help-card:nth-child(8),
.help-card:nth-child(9) {
    margin-top: -64px;
}

section.donation {
    background-color: var(--color-light-l);
}

.donation-container {
    display: flex;
    align-items: center;
    gap: 29px;
    justify-content: center;
    padding-top: 84px;
    padding-bottom: 107px;
}

.donation-info {
    display: flex;
    flex-direction: column;
    margin-bottom: -2%;
    gap: 19px;
    width: 380px;
}

.donation h3 {
    width: unset;
}

.donation-info .name {
    font-family: var(--font1);
    color: var(--color-dark-l);
    font-weight: var(--font-weight1);
    font-size: var(--font-size1);
    line-height: 110%;
    letter-spacing: 0.058em;
}

.donation-info .credit-card {
    display: flex;
    gap: 18px;
    width: 322px;
    height: 23px;
    padding: 10px 15px;
    text-align: center;
    font-family: var(--font1);
    color: var(--color-dark-l);
    font-weight: var(--font-weight1);
    font-size: var(--font-size3);
    background-color: var(--color-primary);
    border-radius: 9px;
    line-height: 115%;
    letter-spacing: 0.058em;
}

.donation-info .credit-card a {
    color: var(--color-dark-l);
    transition: 1s;
}

.donation-info .credit-card a:hover {
    color: var(--color-light-xl);
    transition: 1s;
}

.donation-info .credit-card-pic {
    width: 30px;
    height: 23px;
    background-color: var(--color-dark-l);
    -webkit-mask-image: url('../assets/icons/credit-card.svg');
    -webkit-mask-size: cover;
}


.donation-info .remark-text {
    font-family: var(--font2);
    color: var(--color-dark-m);
    font-weight: var(--font-weight1);
    font-size: var(--font-size8);
    line-height: 160%;
}


.donation-picture {
    width: 505px;
    height: 261px;
    background: url('../assets/images/donation-dog.png');
    background-repeat: no-repeat;
}