@media only screen and (max-width: 1275px) {

    .footer-container {
        display: flex;
        gap: 0;
        justify-content: space-between;
        padding: 0 2%;
    }

    .footer-picture {
        margin-left: 0;
    }

}

@media only screen and (max-width: 950px) {

    footer {
        padding-bottom: 57px;
    }

    .footer-picture {
        background-size: 100%;
        margin-top: 0;
    }
}

@media only screen and (max-width: 733px) {

    .footer-container {
        column-gap: 70px;
    }
    .footer-picture {
         margin-left: 0;
        height: 285px;
    }
}

@media only screen and (max-width: 700px) {

    .header-container {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around
    }

    .nav {
        text-align: center;
    }
}

@media only screen and (max-width: 340px) {

    .footer-picture {
        height: 260px;
    }
}