header {
    background: var(--color-light-xl);
}

.header-container h1,
.header-container p,
.header-container .nav ul li a,
.header-container .nav li:first-child a {
    color: var(--color-dark-l);
}

.sticky {
    position: sticky;
    top: 0;
}

h1 a {
    color: var(--color-dark-3xl);
}

h1 a:hover {
    color: var(--color-primary);
}

.header-container{
    padding-top: 30px;
    padding-bottom: 30px;
}

.pets h3 {
    text-align: center;
}

.pets {
    padding-top: 80px;
    background: var(--color-light-l);
}

.pets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-content: center;
    padding: 0 40px;
}

.pets-cards-row {
    display: flex;
    gap: 53px;
    align-items: center
}

.pets-cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.pets-card {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    background-color: var(--color-light-l);
    padding-bottom: 30px;
    border-radius: 9px;
    transition-duration: 1s;
}

.pets-card:hover {
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    transition-duration: 1s;
    cursor: pointer;

}

.pets-card:hover div.btn {
    background-color: var(--color-primary);
    transition: all;
    transition-duration: 1s;
}

.pets-card p {
    font-family: var(--font1);
    color: var(--color-dark-l);
    font-weight: var(--font-weight1);
    font-size: var(--font-size3);
    line-height: 23px;
    letter-spacing: 0.059em;
}

.pets-container .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition-duration: 1s;
}

.pets-card .pet-btn {
    width: 187px;
    height: 52px;
    background: var(--color-light-s);
    border-radius: 100px;
    transition-duration: 1s;
    border: 1px solid var(--color-primary);
}

.pets-container div a {
    padding: 15px 45px;
    font-family: var(--font1);
    color: var(--color-dark-3xl);
    font-weight: var(--font-weight1);
    font-size: var(--font-size2);
    line-height: 130%;
    letter-spacing: 0.056em;
    cursor: pointer;
}


.pets-card .pets-picture {
    width: 270px;
    height: 270px;
    background-repeat: no-repeat;
}

.pets-card .pets-picture-1 {
    background: url('../assets/images/pets-katrine.png');
}

.pets-card .pets-picture-2 {
    background: url('../assets/images/pets-jennifer.png');
}

.pets-card .pets-picture-3 {
    background: url('../assets/images/pets-woody.png');
}

.pets-card .pets-picture-4 {
    background: url('../assets/images/pets-sophia.png');
}

.pets-card .pets-picture-5 {
    background: url('../assets/images/pets-timmy.png');
}

.pets-card .pets-picture-6 {
    background: url('../assets/images/pets-charly.png');
}

.pets-card .pets-picture-7 {
    background: url('../assets/images/pets-scarlett.png');
}

.pets-card .pets-picture-8 {
    background: url('../assets/images/pets-freddie.png');
}


.pets-card:nth-child(5),
.pets-card:nth-child(6),
.pets-card:nth-child(7),
.pets-card:nth-child(8) {
    margin-top: -7px;
}


.pets-container .get-pets-btn {
    width: 261px;
    height: 52px;
    background: var(--color-primary);
    border-radius: 100px;
    transition-duration: 1s;
    border: 1px solid var(--color-primary);
}

.get-pets-btn:hover {
    background-color: var(--color-light-s);
    transition: all;
    transition-duration: 1s;
}

.pets-cards-row .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 13px;
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    box-sizing: border-box;
    border-radius: 100px;
    transition-duration: 1s;
}

.pets-cards-row .circle .arrow {
    background: url('../assets/images/arrow.png');
    width: 23px;
    height: 13px;
    background-repeat: no-repeat;
    transition-duration: 1s;

}

.pets-cards-row .circle:hover {
    border-color: var(--color-dark-3xl);
    cursor: pointer;
}


.pets-cards-row .circle .arrow-right {
    transform: rotate(180deg);
}

.pagination {
    height: 152px;
    display: flex;
    gap: 20px;
}

.pagination .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 10px;
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    border-radius: 100px;
    transition-duration: 1s;
}

.pagination .circle-active{
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    font-size: var(--font-size3);
    cursor: none;
}

.pagination .circle-avaliable{
    border: 2px solid var(--color-primary);
}

.pagination .circle-not-avaliable{
    border: 2px solid var(--color-dark-s);
}

.pagination .circle .arrow {
    background-repeat: no-repeat;
    transition-duration: 1s;
    -webkit-mask-size: cover;
}

.pagination .circle .arrow-left {
    width: 14px;
    height: 24px;
    -webkit-mask-image: url('../assets/icons/arrow1.svg');
    background-color: var(--color-dark-s);
}

.pagination .circle .arrow-start{
    width: 27px;
    height: 12px;
    -webkit-mask-image: url('../assets/icons/arrow2.svg');
    background-color: var(--color-dark-s);
}

.pagination .circle .arrow-right {
    width: 14px;
    height: 24px;
    transform: rotate(180deg);
    -webkit-mask-image: url('../assets/icons/arrow1.svg');
    background-color: var(--color-dark-3xl);
}

.pagination .circle .arrow-end{
    width: 27px;
    height: 12px;
    transform: rotate(180deg);
    -webkit-mask-image: url('../assets/icons/arrow2.svg');
    background-color: var(--color-dark-3xl);
}

.pagination .circle-avaliable:hover {
    border-color: var(--color-dark-l);
    cursor: pointer;
}

.pagination .circle-active:hover{
    cursor: context-menu;
    border-color: var(--color-primary);
}

.pagination .circle-active div {
    color: var(--color-dark-3xl);
    font-family: var(--font1);
}

.pagination .circle-avaliable:hover {
    background-color: var(--color-primary);
}

.pagination .circle-avaliable:hover .arrow{
    background-color: var(--color-dark-xl);
}

.pagination .circle-not-avaliable:hover {
    cursor: not-allowed;
}